# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
env/
venv/

# ENV
.env

# Frontend static build
backend/static/assets/
tree.md__pycache__/
*.egg-info
*.egg-link
.venv/
backend/static
tree.md
.cache
.DS_Store
settings.json